In [1]:
import numpy as np
import pandas as pd

In [2]:
arr1 = np.array([1, 2, 3])
arr1

array([1, 2, 3])

In [3]:
?arr1

Type:        ndarray
String form: [1 2 3]
Length:      3
File:        c:\users\murat\anaconda3\lib\site-packages\numpy\__init__.py
Docstring:
ndarray(shape, dtype=float, buffer=None, offset=0,
        strides=None, order=None)

An array object represents a multidimensional, homogeneous array
of fixed-size items.  An associated data-type object describes the
format of each element in the array (its byte-order, how many bytes it
occupies in memory, whether it is an integer, a floating point number,
or something else, etc.)

Arrays should be constructed using `array`, `zeros` or `empty` (refer
to the See Also section below).  The parameters given here refer to
a low-level method (`ndarray(...)`) for instantiating an array.

For more information, refer to the `numpy` module and examine the
methods and attributes of an array.

Parameters
----------
(for the __new__ method; see Notes below)

shape : tuple of ints
    Shape of created array.
dtype : data-type, optional
    Any object that can be interpreted as a numpy data type.
buffer : object exposing buffer interface, optional
    Used to fill the array with data.
offset : int, optional
    Offset of array data in buffer.
strides : tuple of ints, optional
    Strides of data in memory.
order : {'C', 'F'}, optional
    Row-major (C-style) or column-major (Fortran-style) order.

Attributes
----------
T : ndarray
    Transpose of the array.
data : buffer
    The array's elements, in memory.
dtype : dtype object
    Describes the format of the elements in the array.
flags : dict
    Dictionary containing information related to memory use, e.g.,
    'C_CONTIGUOUS', 'OWNDATA', 'WRITEABLE', etc.
flat : numpy.flatiter object
    Flattened version of the array as an iterator.  The iterator
    allows assignments, e.g., ``x.flat = 3`` (See `ndarray.flat` for
    assignment examples; TODO).
imag : ndarray
    Imaginary part of the array.
real : ndarray
    Real part of the array.
size : int
    Number of elements in the array.
itemsize : int
    The memory use of each array element in bytes.
nbytes : int
    The total number of bytes required to store the array data,
    i.e., ``itemsize * size``.
ndim : int
    The array's number of dimensions.
shape : tuple of ints
    Shape of the array.
strides : tuple of ints
    The step-size required to move from one element to the next in
    memory. For example, a contiguous ``(3, 4)`` array of type
    ``int16`` in C-order has strides ``(8, 2)``.  This implies that
    to move from element to element in memory requires jumps of 2 bytes.
    To move from row-to-row, one needs to jump 8 bytes at a time
    (``2 * 4``).
ctypes : ctypes object
    Class containing properties of the array needed for interaction
    with ctypes.
base : ndarray
    If the array is a view into another array, that array is its `base`
    (unless that array is also a view).  The `base` array is where the
    array data is actually stored.

See Also
--------
array : Construct an array.
zeros : Create an array, each element of which is zero.
empty : Create an array, but leave its allocated memory unchanged (i.e.,
        it contains "garbage").
dtype : Create a data-type.
numpy.typing.NDArray : A :term:`generic <generic type>` version
                       of ndarray.

Notes
-----
There are two modes of creating an array using ``__new__``:

1. If `buffer` is None, then only `shape`, `dtype`, and `order`
   are used.
2. If `buffer` is an object exposing the buffer interface, then
   all keywords are interpreted.

No ``__init__`` method is needed because the array is fully initialized
after the ``__new__`` method.

Examples
--------
These examples illustrate the low-level `ndarray` constructor.  Refer
to the `See Also` section above for easier ways of constructing an
ndarray.

First mode, `buffer` is None:

>>> np.ndarray(shape=(2,2), dtype=float, order='F')
array([[0.0e+000, 0.0e+000], # random
       [     nan, 2.5e-323]])

Second mode:

>>> np.ndarray((2,), buffer=np.array([1,2,3]),
...            offset=np.int_().itemsize,
...            dtype=int) # offset = 1*itemsize, i.e. skip first element
array([2, 3])

In [4]:
df1 = pd.DataFrame(arr1, columns=["kolon1"], index=["index1", "index2", "index3"])
df1

        kolon1
index1       1
index2       2
index3       3

In [5]:
random = np.random.randint(1, 20, size=(3,3))
arr2 = np.array(random)
arr2

array([[12, 19, 10],
       [15, 13, 18],
       [ 2,  7,  4]])

In [6]:
df2 = pd.DataFrame(arr2, index=["index1", "index2", "index3"], columns=["kolon1", "kolon2", "kolon3"])
df2

        kolon1  kolon2  kolon3
index1      12      19      10
index2      15      13      18
index3       2       7       4

In [7]:
?df2

Type:        DataFrame
String form:
        kolon1  kolon2  kolon3
index1      12      19      10
index2      15      13      18
index3       2       7       4
Length:      3
File:        c:\users\murat\anaconda3\lib\site-packages\pandas\core\frame.py
Docstring:
Two-dimensional, size-mutable, potentially heterogeneous tabular data.

Data structure also contains labeled axes (rows and columns).
Arithmetic operations align on both row and column labels. Can be
thought of as a dict-like container for Series objects. The primary
pandas data structure.

Parameters
----------
data : ndarray (structured or homogeneous), Iterable, dict, or DataFrame
    Dict can contain Series, arrays, constants, dataclass or list-like objects. If
    data is a dict, column order follows insertion-order. If a dict contains Series
    which have an index defined, it is aligned by its index.

    .. versionchanged:: 0.25.0
       If data is a list of dicts, column order follows insertion-order.

index : Index or array-like
    Index to use for resulting frame. Will default to RangeIndex if
    no indexing information part of input data and no index provided.
columns : Index or array-like
    Column labels to use for resulting frame when data does not have them,
    defaulting to RangeIndex(0, 1, 2, ..., n). If data contains column labels,
    will perform column selection instead.
dtype : dtype, default None
    Data type to force. Only a single dtype is allowed. If None, infer.
copy : bool or None, default None
    Copy data from inputs.
    For dict data, the default of None behaves like ``copy=True``.  For DataFrame
    or 2d ndarray input, the default of None behaves like ``copy=False``.

    .. versionchanged:: 1.3.0

See Also
--------
DataFrame.from_records : Constructor from tuples, also record arrays.
DataFrame.from_dict : From dicts of Series, arrays, or dicts.
read_csv : Read a comma-separated values (csv) file into DataFrame.
read_table : Read general delimited file into DataFrame.
read_clipboard : Read text from clipboard into DataFrame.

Examples
--------
Constructing DataFrame from a dictionary.

>>> d = {'col1': [1, 2], 'col2': [3, 4]}
>>> df = pd.DataFrame(data=d)
>>> df
   col1  col2
0     1     3
1     2     4

Notice that the inferred dtype is int64.

>>> df.dtypes
col1    int64
col2    int64
dtype: object

To enforce a single dtype:

>>> df = pd.DataFrame(data=d, dtype=np.int8)
>>> df.dtypes
col1    int8
col2    int8
dtype: object

Constructing DataFrame from a dictionary including Series:

>>> d = {'col1': [0, 1, 2, 3], 'col2': pd.Series([2, 3], index=[2, 3])}
>>> pd.DataFrame(data=d, index=[0, 1, 2, 3])
   col1  col2
0     0   NaN
1     1   NaN
2     2   2.0
3     3   3.0

Constructing DataFrame from numpy ndarray:

>>> df2 = pd.DataFrame(np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]),
...                    columns=['a', 'b', 'c'])
>>> df2
   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

Constructing DataFrame from a numpy ndarray that has labeled columns:

>>> data = np.array([(1, 2, 3), (4, 5, 6), (7, 8, 9)],
...                 dtype=[("a", "i4"), ("b", "i4"), ("c", "i4")])
>>> df3 = pd.DataFrame(data, columns=['c', 'a'])
...
>>> df3
   c  a
0  3  1
1  6  4
2  9  7

Constructing DataFrame from dataclass:

>>> from dataclasses import make_dataclass
>>> Point = make_dataclass("Point", [("x", int), ("y", int)])
>>> pd.DataFrame([Point(0, 0), Point(0, 3), Point(2, 3)])
   x  y
0  0  0
1  0  3
2  2  3

In [8]:
type(df2)

pandas.core.frame.DataFrame

In [9]:
dataset = {
    "cars": ["bmw", "mercedes", "lamborghini"],
    "count": [19, 25, 3]
}
dataset

{'cars': ['bmw', 'mercedes', 'lamborghini'], 'count': [19, 25, 3]}

In [10]:
pd.DataFrame(dataset)

          cars  count
0          bmw     19
1     mercedes     25
2  lamborghini      3

In [11]:
pd.__version__

'1.4.2'

In [12]:
pd.__dir__()

['__name__',
 '__doc__',
 '__package__',
 '__loader__',
 '__spec__',
 '__path__',
 '__file__',
 '__cached__',
 '__builtins__',
 '__docformat__',
 '_typing',
 '_config',
 '_libs',
 'core',
 'errors',
 'util',
 'compat',
 '_is_numpy_dev',
 'get_option',
 'set_option',
 'reset_option',
 'describe_option',
 'option_context',
 'options',
 'pandas',
 'io',
 'tseries',
 'arrays',
 'plotting',
 'Int8Dtype',
 'Int16Dtype',
 'Int32Dtype',
 'Int64Dtype',
 'UInt8Dtype',
 'UInt16Dtype',
 'UInt32Dtype',
 'UInt64Dtype',
 'Float32Dtype',
 'Float64Dtype',
 'CategoricalDtype',
 'PeriodDtype',
 'IntervalDtype',
 'DatetimeTZDtype',
 'StringDtype',
 'BooleanDtype',
 'NA',
 'isna',
 'isnull',
 'notna',
 'notnull',
 'Index',
 'CategoricalIndex',
 'RangeIndex',
 'MultiIndex',
 'IntervalIndex',
 'TimedeltaIndex',
 'DatetimeIndex',
 'PeriodIndex',
 'IndexSlice',
 'NaT',
 'Period',
 'period_range',
 'Timedelta',
 'timedelta_range',
 'Timestamp',
 'date_range',
 'bdate_range',
 'Interval',
 'interval_range',
 'DateOffset',
 'to_numeric',
 'to_datetime',
 'to_timedelta',
 'Flags',
 'Grouper',
 'factorize',
 'unique',
 'value_counts',
 'NamedAgg',
 'array',
 'Categorical',
 'set_eng_float_format',
 'Series',
 'DataFrame',
 'SparseDtype',
 'infer_freq',
 'offsets',
 'eval',
 'concat',
 'lreshape',
 'melt',
 'wide_to_long',
 'merge',
 'merge_asof',
 'merge_ordered',
 'crosstab',
 'pivot',
 'pivot_table',
 'get_dummies',
 'cut',
 'qcut',
 'api',
 '_testing',
 'testing',
 'show_versions',
 'ExcelFile',
 'ExcelWriter',
 'read_excel',
 'read_csv',
 'read_fwf',
 'read_table',
 'read_pickle',
 'to_pickle',
 'HDFStore',
 'read_hdf',
 'read_sql',
 'read_sql_query',
 'read_sql_table',
 'read_clipboard',
 'read_parquet',
 'read_orc',
 'read_feather',
 'read_gbq',
 'read_html',
 'read_xml',
 'read_json',
 'read_stata',
 'read_sas',
 'read_spss',
 'json_normalize',
 'test',
 '_version',
 '__version__',
 '__git_version__',
 '__deprecated_num_index_names',
 '__dir__',
 '__getattr__',
 '__all__',
 'Float64Index',
 'Int64Index',
 'UInt64Index']

In [13]:
a = [1, 2, 3, 4]

myvar = pd.Series(a)
myvar

0    1
1    2
2    3
3    4
dtype: int64

In [14]:
myvar.dtype

dtype('int64')

In [15]:
myvar.size

4

In [16]:
myvar.ndim

1

In [17]:
myvar.shape

(4,)

In [18]:
myvar[0], myvar[1], myvar[2], myvar[3]

(1, 2, 3, 4)

In [19]:
?myvar

Type:        Series
String form:
0    1
1    2
2    3
3    4
dtype: int64
Length:      4
File:        c:\users\murat\anaconda3\lib\site-packages\pandas\core\series.py
Docstring:
One-dimensional ndarray with axis labels (including time series).

Labels need not be unique but must be a hashable type. The object
supports both integer- and label-based indexing and provides a host of
methods for performing operations involving the index. Statistical
methods from ndarray have been overridden to automatically exclude
missing data (currently represented as NaN).

Operations between Series (+, -, /, \*, \*\*) align values based on their
associated index values-- they need not be the same length. The result
index will be the sorted union of the two indexes.

Parameters
----------
data : array-like, Iterable, dict, or scalar value
    Contains data stored in Series. If data is a dict, argument order is
    maintained.
index : array-like or Index (1d)
    Values must be hashable and have the same length as `data`.
    Non-unique index values are allowed. Will default to
    RangeIndex (0, 1, 2, ..., n) if not provided. If data is dict-like
    and index is None, then the keys in the data are used as the index. If the
    index is not None, the resulting Series is reindexed with the index values.
dtype : str, numpy.dtype, or ExtensionDtype, optional
    Data type for the output Series. If not specified, this will be
    inferred from `data`.
    See the :ref:`user guide <basics.dtypes>` for more usages.
name : str, optional
    The name to give to the Series.
copy : bool, default False
    Copy input data. Only affects Series or 1d ndarray input. See examples.

Examples
--------
Constructing Series from a dictionary with an Index specified

>>> d = {'a': 1, 'b': 2, 'c': 3}
>>> ser = pd.Series(data=d, index=['a', 'b', 'c'])
>>> ser
a   1
b   2
c   3
dtype: int64

The keys of the dictionary match with the Index values, hence the Index
values have no effect.

>>> d = {'a': 1, 'b': 2, 'c': 3}
>>> ser = pd.Series(data=d, index=['x', 'y', 'z'])
>>> ser
x   NaN
y   NaN
z   NaN
dtype: float64

Note that the Index is first build with the keys from the dictionary.
After this the Series is reindexed with the given Index values, hence we
get all NaN as a result.

Constructing Series from a list with `copy=False`.

>>> r = [1, 2]
>>> ser = pd.Series(r, copy=False)
>>> ser.iloc[0] = 999
>>> r
[1, 2]
>>> ser
0    999
1      2
dtype: int64

Due to input data type the Series has a `copy` of
the original data even though `copy=False`, so
the data is unchanged.

Constructing Series from a 1d ndarray with `copy=False`.

>>> r = np.array([1, 2])
>>> ser = pd.Series(r, copy=False)
>>> ser.iloc[0] = 999
>>> r
array([999,   2])
>>> ser
0    999
1      2
dtype: int64

Due to input data type the Series has a `view` on
the original data, so
the data is changed as well.

In [20]:
newvar = pd.Series([1, 2, 3, 4, 5], name="murat",index=["index1", "index2", "index3", "index4", "index5"])
newvar

index1    1
index2    2
index3    3
index4    4
index5    5
Name: murat, dtype: int64

In [21]:
newvar["index1"], newvar["index2"], newvar["index3"], newvar["index4"]

(1, 2, 3, 4)

In [22]:
dicti = {"day1": 430, "day2": 200, "day3":500}
calories = pd.Series(dicti, name="calories")
calories

day1    430
day2    200
day3    500
Name: calories, dtype: int64

In [23]:
calories["day1"], calories["day2"], calories["day3"]

(430, 200, 500)

In [24]:
dictio = {
    "calories": [430, 200, 500],
    "duration": [20, 15, 8]
}
df = pd.DataFrame(dictio, index=[0, 1, "index3"])
df

        calories  duration
0            430        20
1            200        15
index3       500         8

In [25]:
?df

Type:        DataFrame
String form:
        calories  duration
0            430        20
1            200        15
index3       500         8
Length:      3
File:        c:\users\murat\anaconda3\lib\site-packages\pandas\core\frame.py
Docstring:
Two-dimensional, size-mutable, potentially heterogeneous tabular data.

Data structure also contains labeled axes (rows and columns).
Arithmetic operations align on both row and column labels. Can be
thought of as a dict-like container for Series objects. The primary
pandas data structure.

Parameters
----------
data : ndarray (structured or homogeneous), Iterable, dict, or DataFrame
    Dict can contain Series, arrays, constants, dataclass or list-like objects. If
    data is a dict, column order follows insertion-order. If a dict contains Series
    which have an index defined, it is aligned by its index.

    .. versionchanged:: 0.25.0
       If data is a list of dicts, column order follows insertion-order.

index : Index or array-like
    Index to use for resulting frame. Will default to RangeIndex if
    no indexing information part of input data and no index provided.
columns : Index or array-like
    Column labels to use for resulting frame when data does not have them,
    defaulting to RangeIndex(0, 1, 2, ..., n). If data contains column labels,
    will perform column selection instead.
dtype : dtype, default None
    Data type to force. Only a single dtype is allowed. If None, infer.
copy : bool or None, default None
    Copy data from inputs.
    For dict data, the default of None behaves like ``copy=True``.  For DataFrame
    or 2d ndarray input, the default of None behaves like ``copy=False``.

    .. versionchanged:: 1.3.0

See Also
--------
DataFrame.from_records : Constructor from tuples, also record arrays.
DataFrame.from_dict : From dicts of Series, arrays, or dicts.
read_csv : Read a comma-separated values (csv) file into DataFrame.
read_table : Read general delimited file into DataFrame.
read_clipboard : Read text from clipboard into DataFrame.

Examples
--------
Constructing DataFrame from a dictionary.

>>> d = {'col1': [1, 2], 'col2': [3, 4]}
>>> df = pd.DataFrame(data=d)
>>> df
   col1  col2
0     1     3
1     2     4

Notice that the inferred dtype is int64.

>>> df.dtypes
col1    int64
col2    int64
dtype: object

To enforce a single dtype:

>>> df = pd.DataFrame(data=d, dtype=np.int8)
>>> df.dtypes
col1    int8
col2    int8
dtype: object

Constructing DataFrame from a dictionary including Series:

>>> d = {'col1': [0, 1, 2, 3], 'col2': pd.Series([2, 3], index=[2, 3])}
>>> pd.DataFrame(data=d, index=[0, 1, 2, 3])
   col1  col2
0     0   NaN
1     1   NaN
2     2   2.0
3     3   3.0

Constructing DataFrame from numpy ndarray:

>>> df2 = pd.DataFrame(np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]),
...                    columns=['a', 'b', 'c'])
>>> df2
   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

Constructing DataFrame from a numpy ndarray that has labeled columns:

>>> data = np.array([(1, 2, 3), (4, 5, 6), (7, 8, 9)],
...                 dtype=[("a", "i4"), ("b", "i4"), ("c", "i4")])
>>> df3 = pd.DataFrame(data, columns=['c', 'a'])
...
>>> df3
   c  a
0  3  1
1  6  4
2  9  7

Constructing DataFrame from dataclass:

>>> from dataclasses import make_dataclass
>>> Point = make_dataclass("Point", [("x", int), ("y", int)])
>>> pd.DataFrame([Point(0, 0), Point(0, 3), Point(2, 3)])
   x  y
0  0  0
1  0  3
2  2  3

In [26]:
df.loc[0]

calories    430
duration     20
Name: 0, dtype: int64

In [27]:
df.loc[1]

calories    200
duration     15
Name: 1, dtype: int64

In [28]:
df.loc[[0, 1]]

   calories  duration
0       430        20
1       200        15

In [29]:
df.loc["index3"]

calories    500
duration      8
Name: index3, dtype: int64

In [30]:
df.iloc[2]

calories    500
duration      8
Name: index3, dtype: int64

In [31]:
#df.loc[2]   HATA VERİR.

In [32]:
deneme = pd.DataFrame([1, 2, 3])
deneme2 = pd.DataFrame([1, 2, 3], index=["index1", "index2", "index3"])

In [33]:
deneme

   0
0  1
1  2
2  3

In [34]:
deneme2

        0
index1  1
index2  2
index3  3

In [35]:
deneme.loc[0]

0    1
Name: 0, dtype: int64

In [36]:
deneme2.loc["index1"]
# deneme2.loc[0]  Kodu hata verir. Tablonun index isimlerine göre çağrı yapılabilir. Index numaralarına göre değil.

0    1
Name: index1, dtype: int64

In [37]:
join1 = np.random.randint(1, 30, size=(3,2))
join2 = np.random.randint(1, 50, size=(1,2))

pd1 = pd.DataFrame(join1)
pd2 = pd.DataFrame(join2)

In [38]:
pd.concat([pd1, pd2], axis=1)

    0   1    0     1
0  29  11  1.0  44.0
1   6   3  NaN   NaN
2  15  19  NaN   NaN

In [39]:
pd.concat([pd1, pd2], axis=1, ignore_index=True)

    0   1    2     3
0  29  11  1.0  44.0
1   6   3  NaN   NaN
2  15  19  NaN   NaN

In [40]:
pd1.columns = ["colon1", "colon2"]
pd1

   colon1  colon2
0      29      11
1       6       3
2      15      19

In [41]:
pd2.columns = ["deneme1", "deneme2"]
pd2

   deneme1  deneme2
0        1       44

In [42]:
pd.concat([pd1, pd2]) # ignore_index=True parametresi kolonlarda değişiklik yapmadı. ama indexlerde düzenledi

   colon1  colon2  deneme1  deneme2
0    29.0    11.0      NaN      NaN
1     6.0     3.0      NaN      NaN
2    15.0    19.0      NaN      NaN
0     NaN     NaN      1.0     44.0

In [43]:
pd1.index = ["index1", "index2", "index3"]
pd2.index = ["selam1"]

In [44]:
pd.concat([pd1, pd2], ignore_index=True) # ignore_index=True parametresi indexler string ifade olmasına rağmen düzenlemek için sayıya çevirdi

   colon1  colon2  deneme1  deneme2
0    29.0    11.0      NaN      NaN
1     6.0     3.0      NaN      NaN
2    15.0    19.0      NaN      NaN
3     NaN     NaN      1.0     44.0

In [45]:
df1 = pd.DataFrame({
    "calisanlar": ["murat", "havvanur", "eva"],
    "maaslari": ["beleş", 1000, "2 öğün mama"]
})
df1

  calisanlar     maaslari
0      murat        beleş
1   havvanur         1000
2        eva  2 öğün mama

In [46]:
df2 = pd.DataFrame({
    "calisanlar": ["murat", "havvanur", "eva"],
    "alanlari": ["teknik işler", "ayak işleri", "yönetim ve idare"]
})
df2

  calisanlar          alanlari
0      murat      teknik işler
1   havvanur       ayak işleri
2        eva  yönetim ve idare

In [47]:
pd.merge(df1, df2)

  calisanlar     maaslari          alanlari
0      murat        beleş      teknik işler
1   havvanur         1000       ayak işleri
2        eva  2 öğün mama  yönetim ve idare

In [48]:
pd.merge(df1, df2, on="calisanlar")

  calisanlar     maaslari          alanlari
0      murat        beleş      teknik işler
1   havvanur         1000       ayak işleri
2        eva  2 öğün mama  yönetim ve idare

In [49]:
?pd.merge

Signature:
pd.merge(
    left: 'DataFrame | Series',
    right: 'DataFrame | Series',
    how: 'str' = 'inner',
    on: 'IndexLabel | None' = None,
    left_on: 'IndexLabel | None' = None,
    right_on: 'IndexLabel | None' = None,
    left_index: 'bool' = False,
    right_index: 'bool' = False,
    sort: 'bool' = False,
    suffixes: 'Suffixes' = ('_x', '_y'),
    copy: 'bool' = True,
    indicator: 'bool' = False,
    validate: 'str | None' = None,
) -> 'DataFrame'
Docstring:
Merge DataFrame or named Series objects with a database-style join.

A named Series object is treated as a DataFrame with a single named column.

The join is done on columns or indexes. If joining columns on
columns, the DataFrame indexes *will be ignored*. Otherwise if joining indexes
on indexes or indexes on a column or columns, the index will be passed on.
When performing a cross merge, no column specifications to merge on are
allowed.

.. warning::

    If both key columns contain rows where the key is a null value, those
    rows will be matched against each other. This is different from usual SQL
    join behaviour and can lead to unexpected results.

Parameters
----------
left : DataFrame
right : DataFrame or named Series
    Object to merge with.
how : {'left', 'right', 'outer', 'inner', 'cross'}, default 'inner'
    Type of merge to be performed.

    * left: use only keys from left frame, similar to a SQL left outer join;
      preserve key order.
    * right: use only keys from right frame, similar to a SQL right outer join;
      preserve key order.
    * outer: use union of keys from both frames, similar to a SQL full outer
      join; sort keys lexicographically.
    * inner: use intersection of keys from both frames, similar to a SQL inner
      join; preserve the order of the left keys.
    * cross: creates the cartesian product from both frames, preserves the order
      of the left keys.

      .. versionadded:: 1.2.0

on : label or list
    Column or index level names to join on. These must be found in both
    DataFrames. If `on` is None and not merging on indexes then this defaults
    to the intersection of the columns in both DataFrames.
left_on : label or list, or array-like
    Column or index level names to join on in the left DataFrame. Can also
    be an array or list of arrays of the length of the left DataFrame.
    These arrays are treated as if they are columns.
right_on : label or list, or array-like
    Column or index level names to join on in the right DataFrame. Can also
    be an array or list of arrays of the length of the right DataFrame.
    These arrays are treated as if they are columns.
left_index : bool, default False
    Use the index from the left DataFrame as the join key(s). If it is a
    MultiIndex, the number of keys in the other DataFrame (either the index
    or a number of columns) must match the number of levels.
right_index : bool, default False
    Use the index from the right DataFrame as the join key. Same caveats as
    left_index.
sort : bool, default False
    Sort the join keys lexicographically in the result DataFrame. If False,
    the order of the join keys depends on the join type (how keyword).
suffixes : list-like, default is ("_x", "_y")
    A length-2 sequence where each element is optionally a string
    indicating the suffix to add to overlapping column names in
    `left` and `right` respectively. Pass a value of `None` instead
    of a string to indicate that the column name from `left` or
    `right` should be left as-is, with no suffix. At least one of the
    values must not be None.
copy : bool, default True
    If False, avoid copy if possible.
indicator : bool or str, default False
    If True, adds a column to the output DataFrame called "_merge" with
    information on the source of each row. The column can be given a different
    name by providing a string argument. The column will have a Categorical
    type with the value of "left_only" for observations whose merge key only
    appears in the left DataFrame, "right_only" for observations
    whose merge key only appears in the right DataFrame, and "both"
    if the observation's merge key is found in both DataFrames.

validate : str, optional
    If specified, checks if merge is of specified type.

    * "one_to_one" or "1:1": check if merge keys are unique in both
      left and right datasets.
    * "one_to_many" or "1:m": check if merge keys are unique in left
      dataset.
    * "many_to_one" or "m:1": check if merge keys are unique in right
      dataset.
    * "many_to_many" or "m:m": allowed, but does not result in checks.

Returns
-------
DataFrame
    A DataFrame of the two merged objects.

See Also
--------
merge_ordered : Merge with optional filling/interpolation.
merge_asof : Merge on nearest keys.
DataFrame.join : Similar method using indices.

Notes
-----
Support for specifying index levels as the `on`, `left_on`, and
`right_on` parameters was added in version 0.23.0
Support for merging named Series objects was added in version 0.24.0

Examples
--------
>>> df1 = pd.DataFrame({'lkey': ['foo', 'bar', 'baz', 'foo'],
...                     'value': [1, 2, 3, 5]})
>>> df2 = pd.DataFrame({'rkey': ['foo', 'bar', 'baz', 'foo'],
...                     'value': [5, 6, 7, 8]})
>>> df1
    lkey value
0   foo      1
1   bar      2
2   baz      3
3   foo      5
>>> df2
    rkey value
0   foo      5
1   bar      6
2   baz      7
3   foo      8

Merge df1 and df2 on the lkey and rkey columns. The value columns have
the default suffixes, _x and _y, appended.

>>> df1.merge(df2, left_on='lkey', right_on='rkey')
  lkey  value_x rkey  value_y
0  foo        1  foo        5
1  foo        1  foo        8
2  foo        5  foo        5
3  foo        5  foo        8
4  bar        2  bar        6
5  baz        3  baz        7

Merge DataFrames df1 and df2 with specified left and right suffixes
appended to any overlapping columns.

>>> df1.merge(df2, left_on='lkey', right_on='rkey',
...           suffixes=('_left', '_right'))
  lkey  value_left rkey  value_right
0  foo           1  foo            5
1  foo           1  foo            8
2  foo           5  foo            5
3  foo           5  foo            8
4  bar           2  bar            6
5  baz           3  baz            7

Merge DataFrames df1 and df2, but raise an exception if the DataFrames have
any overlapping columns.

>>> df1.merge(df2, left_on='lkey', right_on='rkey', suffixes=(False, False))
Traceback (most recent call last):
...
ValueError: columns overlap but no suffix specified:
    Index(['value'], dtype='object')

>>> df1 = pd.DataFrame({'a': ['foo', 'bar'], 'b': [1, 2]})
>>> df2 = pd.DataFrame({'a': ['foo', 'baz'], 'c': [3, 4]})
>>> df1
      a  b
0   foo  1
1   bar  2
>>> df2
      a  c
0   foo  3
1   baz  4

>>> df1.merge(df2, how='inner', on='a')
      a  b  c
0   foo  1  3

>>> df1.merge(df2, how='left', on='a')
      a  b  c
0   foo  1  3.0
1   bar  2  NaN

>>> df1 = pd.DataFrame({'left': ['foo', 'bar']})
>>> df2 = pd.DataFrame({'right': [7, 8]})
>>> df1
    left
0   foo
1   bar
>>> df2
    right
0   7
1   8

>>> df1.merge(df2, how='cross')
   left  right
0   foo      7
1   foo      8
2   bar      7
3   bar      8
File:      c:\users\murat\anaconda3\lib\site-packages\pandas\core\reshape\merge.py
Type:      function

In [50]:
df1 = pd.DataFrame({
    "lkey": ["foo", "bar", "baz", "foo"],
    "value": [1, 2, 3, 5]
})
df1

  lkey  value
0  foo      1
1  bar      2
2  baz      3
3  foo      5

In [51]:
df2 = pd.DataFrame({
    "rkey": ["foo", "bar", "baz", "foo"],
    "value": [5, 6, 7, 8]
})
df2

  rkey  value
0  foo      5
1  bar      6
2  baz      7
3  foo      8

In [52]:
df1.merge(df2, left_on="lkey", right_on="rkey")

  lkey  value_x rkey  value_y
0  foo        1  foo        5
1  foo        1  foo        8
2  foo        5  foo        5
3  foo        5  foo        8
4  bar        2  bar        6
5  baz        3  baz        7

In [53]:
pd.merge(df1, df2, left_on="lkey", right_on="rkey")

  lkey  value_x rkey  value_y
0  foo        1  foo        5
1  foo        1  foo        8
2  foo        5  foo        5
3  foo        5  foo        8
4  bar        2  bar        6
5  baz        3  baz        7

In [54]:
df3 = pd.DataFrame({
    "gkey":["deneme1", "deneme2", "deneme3", "deneme4", "deneme5", "deneme6"],
    "value":[10, 11, 12, 13, 14, 15]
})
df3

      gkey  value
0  deneme1     10
1  deneme2     11
2  deneme3     12
3  deneme4     13
4  deneme5     14
5  deneme6     15

In [55]:
concat = pd.concat([df1, df2], axis=1)
concat

  lkey  value rkey  value
0  foo      1  foo      5
1  bar      2  bar      6
2  baz      3  baz      7
3  foo      5  foo      8

In [56]:
pd.merge(df1, df2, left_on="lkey", right_on="rkey", suffixes=('_left', '_right'))

  lkey  value_left rkey  value_right
0  foo           1  foo            5
1  foo           1  foo            8
2  foo           5  foo            5
3  foo           5  foo            8
4  bar           2  bar            6
5  baz           3  baz            7

In [57]:
pd.merge(df1, df2, left_on="lkey", right_on="rkey", suffixes=('_sol', '_sag'))

  lkey  value_sol rkey  value_sag
0  foo          1  foo          5
1  foo          1  foo          8
2  foo          5  foo          5
3  foo          5  foo          8
4  bar          2  bar          6
5  baz          3  baz          7

In [58]:
df1 = pd.DataFrame({'a':["foo", "bar"], 'b':[1, 2]})
df2 = pd.DataFrame({'a':["foo", "baz"], 'c':[3, 4]})

In [59]:
df1

     a  b
0  foo  1
1  bar  2

In [60]:
df2

     a  c
0  foo  3
1  baz  4

In [61]:
pd.merge(df1, df2, how="inner", on="a")

     a  b  c
0  foo  1  3

In [62]:
df1.merge(df2, how="inner", on="a")

     a  b  c
0  foo  1  3

In [63]:
df2

     a  c
0  foo  3
1  baz  4

In [64]:
df1.merge(df2, how='left', on='a')

     a  b    c
0  foo  1  3.0
1  bar  2  NaN

In [65]:
pd.merge(df1, df2, how="left", on="a")

     a  b    c
0  foo  1  3.0
1  bar  2  NaN

In [66]:
pd.merge(df1, df2, how="right", on="a")

     a    b  c
0  foo  1.0  3
1  baz  NaN  4

In [67]:
pd.merge(df2, df1, how="right", on="a")

     a    c  b
0  foo  3.0  1
1  bar  NaN  2

In [68]:
df1

     a  b
0  foo  1
1  bar  2

In [69]:
df2

     a  c
0  foo  3
1  baz  4

In [70]:
df1 = pd.DataFrame({
    "calisanlar": ["murat", "havvanur", "eva"],
    "alan": ["teknoloji", "influencer", "yönetici"]
})
df1

  calisanlar        alan
0      murat   teknoloji
1   havvanur  influencer
2        eva    yönetici

In [71]:
df2 = pd.DataFrame({
    "calisanlar": ["murat", "havvanur", "eva"],
    "maas": [300, 500, 600]
})
df2

  calisanlar  maas
0      murat   300
1   havvanur   500
2        eva   600

In [72]:
pd.merge(df1, df2, how="left", on="calisanlar")

  calisanlar        alan  maas
0      murat   teknoloji   300
1   havvanur  influencer   500
2        eva    yönetici   600

In [73]:
pd.merge(df1, df2)

  calisanlar        alan  maas
0      murat   teknoloji   300
1   havvanur  influencer   500
2        eva    yönetici   600

In [74]:
pd.merge(df1, df2, how="right", on="calisanlar")

  calisanlar        alan  maas
0      murat   teknoloji   300
1   havvanur  influencer   500
2        eva    yönetici   600

In [82]:
dataset1 = {
    'id': ['ogretmen', 'ogrenci'],
}
dataset1

{'id': ['ogretmen', 'ogrenci']}

In [79]:
pd.DataFrame(dataset1)

         id
0  ogretmen
1   ogrenci

In [80]:
dataset2 = {
    'ogretmen': ['mehmet', 'murat', 'selim', 'hakan'],
    'dersler': ['matematik', 'matematik', 'turkce', 'geometri']
}
dataset2

{'ogretmen': ['mehmet', 'murat', 'selim', 'hakan'],
 'dersler': ['matematik', 'matematik', 'turkce', 'geometri']}

In [88]:
dataset2 = pd.DataFrame(dataset2)

In [86]:
dataset3 = {
    'ogretmen': ['mehmet', 'murat', 'selim', 'hakan'],
    'aboneler':[190.000, 228.768, 19.984, 1.974]
}
dataset3
dataset3 = pd.DataFrame(dataset3)

In [91]:
pd.merge(dataset2, dataset3, on='ogretmen')

  ogretmen    dersler  aboneler
0   mehmet  matematik   190.000
1    murat  matematik   228.768
2    selim     turkce    19.984
3    hakan   geometri     1.974

In [95]:
?pd.merge

Signature:
pd.merge(
    left: 'DataFrame | Series',
    right: 'DataFrame | Series',
    how: 'str' = 'inner',
    on: 'IndexLabel | None' = None,
    left_on: 'IndexLabel | None' = None,
    right_on: 'IndexLabel | None' = None,
    left_index: 'bool' = False,
    right_index: 'bool' = False,
    sort: 'bool' = False,
    suffixes: 'Suffixes' = ('_x', '_y'),
    copy: 'bool' = True,
    indicator: 'bool' = False,
    validate: 'str | None' = None,
) -> 'DataFrame'
Docstring:
Merge DataFrame or named Series objects with a database-style join.

A named Series object is treated as a DataFrame with a single named column.

The join is done on columns or indexes. If joining columns on
columns, the DataFrame indexes *will be ignored*. Otherwise if joining indexes
on indexes or indexes on a column or columns, the index will be passed on.
When performing a cross merge, no column specifications to merge on are
allowed.

.. warning::

    If both key columns contain rows where the key is a null value, those
    rows will be matched against each other. This is different from usual SQL
    join behaviour and can lead to unexpected results.

Parameters
----------
left : DataFrame
right : DataFrame or named Series
    Object to merge with.
how : {'left', 'right', 'outer', 'inner', 'cross'}, default 'inner'
    Type of merge to be performed.

    * left: use only keys from left frame, similar to a SQL left outer join;
      preserve key order.
    * right: use only keys from right frame, similar to a SQL right outer join;
      preserve key order.
    * outer: use union of keys from both frames, similar to a SQL full outer
      join; sort keys lexicographically.
    * inner: use intersection of keys from both frames, similar to a SQL inner
      join; preserve the order of the left keys.
    * cross: creates the cartesian product from both frames, preserves the order
      of the left keys.

      .. versionadded:: 1.2.0

on : label or list
    Column or index level names to join on. These must be found in both
    DataFrames. If `on` is None and not merging on indexes then this defaults
    to the intersection of the columns in both DataFrames.
left_on : label or list, or array-like
    Column or index level names to join on in the left DataFrame. Can also
    be an array or list of arrays of the length of the left DataFrame.
    These arrays are treated as if they are columns.
right_on : label or list, or array-like
    Column or index level names to join on in the right DataFrame. Can also
    be an array or list of arrays of the length of the right DataFrame.
    These arrays are treated as if they are columns.
left_index : bool, default False
    Use the index from the left DataFrame as the join key(s). If it is a
    MultiIndex, the number of keys in the other DataFrame (either the index
    or a number of columns) must match the number of levels.
right_index : bool, default False
    Use the index from the right DataFrame as the join key. Same caveats as
    left_index.
sort : bool, default False
    Sort the join keys lexicographically in the result DataFrame. If False,
    the order of the join keys depends on the join type (how keyword).
suffixes : list-like, default is ("_x", "_y")
    A length-2 sequence where each element is optionally a string
    indicating the suffix to add to overlapping column names in
    `left` and `right` respectively. Pass a value of `None` instead
    of a string to indicate that the column name from `left` or
    `right` should be left as-is, with no suffix. At least one of the
    values must not be None.
copy : bool, default True
    If False, avoid copy if possible.
indicator : bool or str, default False
    If True, adds a column to the output DataFrame called "_merge" with
    information on the source of each row. The column can be given a different
    name by providing a string argument. The column will have a Categorical
    type with the value of "left_only" for observations whose merge key only
    appears in the left DataFrame, "right_only" for observations
    whose merge key only appears in the right DataFrame, and "both"
    if the observation's merge key is found in both DataFrames.

validate : str, optional
    If specified, checks if merge is of specified type.

    * "one_to_one" or "1:1": check if merge keys are unique in both
      left and right datasets.
    * "one_to_many" or "1:m": check if merge keys are unique in left
      dataset.
    * "many_to_one" or "m:1": check if merge keys are unique in right
      dataset.
    * "many_to_many" or "m:m": allowed, but does not result in checks.

Returns
-------
DataFrame
    A DataFrame of the two merged objects.

See Also
--------
merge_ordered : Merge with optional filling/interpolation.
merge_asof : Merge on nearest keys.
DataFrame.join : Similar method using indices.

Notes
-----
Support for specifying index levels as the `on`, `left_on`, and
`right_on` parameters was added in version 0.23.0
Support for merging named Series objects was added in version 0.24.0

Examples
--------
>>> df1 = pd.DataFrame({'lkey': ['foo', 'bar', 'baz', 'foo'],
...                     'value': [1, 2, 3, 5]})
>>> df2 = pd.DataFrame({'rkey': ['foo', 'bar', 'baz', 'foo'],
...                     'value': [5, 6, 7, 8]})
>>> df1
    lkey value
0   foo      1
1   bar      2
2   baz      3
3   foo      5
>>> df2
    rkey value
0   foo      5
1   bar      6
2   baz      7
3   foo      8

Merge df1 and df2 on the lkey and rkey columns. The value columns have
the default suffixes, _x and _y, appended.

>>> df1.merge(df2, left_on='lkey', right_on='rkey')
  lkey  value_x rkey  value_y
0  foo        1  foo        5
1  foo        1  foo        8
2  foo        5  foo        5
3  foo        5  foo        8
4  bar        2  bar        6
5  baz        3  baz        7

Merge DataFrames df1 and df2 with specified left and right suffixes
appended to any overlapping columns.

>>> df1.merge(df2, left_on='lkey', right_on='rkey',
...           suffixes=('_left', '_right'))
  lkey  value_left rkey  value_right
0  foo           1  foo            5
1  foo           1  foo            8
2  foo           5  foo            5
3  foo           5  foo            8
4  bar           2  bar            6
5  baz           3  baz            7

Merge DataFrames df1 and df2, but raise an exception if the DataFrames have
any overlapping columns.

>>> df1.merge(df2, left_on='lkey', right_on='rkey', suffixes=(False, False))
Traceback (most recent call last):
...
ValueError: columns overlap but no suffix specified:
    Index(['value'], dtype='object')

>>> df1 = pd.DataFrame({'a': ['foo', 'bar'], 'b': [1, 2]})
>>> df2 = pd.DataFrame({'a': ['foo', 'baz'], 'c': [3, 4]})
>>> df1
      a  b
0   foo  1
1   bar  2
>>> df2
      a  c
0   foo  3
1   baz  4

>>> df1.merge(df2, how='inner', on='a')
      a  b  c
0   foo  1  3

>>> df1.merge(df2, how='left', on='a')
      a  b  c
0   foo  1  3.0
1   bar  2  NaN

>>> df1 = pd.DataFrame({'left': ['foo', 'bar']})
>>> df2 = pd.DataFrame({'right': [7, 8]})
>>> df1
    left
0   foo
1   bar
>>> df2
    right
0   7
1   8

>>> df1.merge(df2, how='cross')
   left  right
0   foo      7
1   foo      8
2   bar      7
3   bar      8
File:      c:\users\murat\anaconda3\lib\site-packages\pandas\core\reshape\merge.py
Type:      function

In [103]:
dataset4 = {
    'ogretmen': ['mehmet', 'murat', 'selim', 'hakan'],
    'sysy': [150, 201, 168, 2000]
}
dataset4 = pd.DataFrame(dataset4)
dataset4

  ogretmen  sysy
0   mehmet   150
1    murat   201
2    selim   168
3    hakan  2000

In [104]:
mto1 = pd.merge(dataset2, dataset3, on='ogretmen')
mto1

  ogretmen    dersler  aboneler
0   mehmet  matematik   190.000
1    murat  matematik   228.768
2    selim     turkce    19.984
3    hakan   geometri     1.974

In [108]:
pd.merge(dataset4, mto1, on = 'ogretmen')

  ogretmen  sysy    dersler  aboneler
0   mehmet   150  matematik   190.000
1    murat   201  matematik   228.768
2    selim   168     turkce    19.984
3    hakan  2000   geometri     1.974

In [112]:
?pd.merge

Signature:
pd.merge(
    left: 'DataFrame | Series',
    right: 'DataFrame | Series',
    how: 'str' = 'inner',
    on: 'IndexLabel | None' = None,
    left_on: 'IndexLabel | None' = None,
    right_on: 'IndexLabel | None' = None,
    left_index: 'bool' = False,
    right_index: 'bool' = False,
    sort: 'bool' = False,
    suffixes: 'Suffixes' = ('_x', '_y'),
    copy: 'bool' = True,
    indicator: 'bool' = False,
    validate: 'str | None' = None,
) -> 'DataFrame'
Docstring:
Merge DataFrame or named Series objects with a database-style join.

A named Series object is treated as a DataFrame with a single named column.

The join is done on columns or indexes. If joining columns on
columns, the DataFrame indexes *will be ignored*. Otherwise if joining indexes
on indexes or indexes on a column or columns, the index will be passed on.
When performing a cross merge, no column specifications to merge on are
allowed.

.. warning::

    If both key columns contain rows where the key is a null value, those
    rows will be matched against each other. This is different from usual SQL
    join behaviour and can lead to unexpected results.

Parameters
----------
left : DataFrame
right : DataFrame or named Series
    Object to merge with.
how : {'left', 'right', 'outer', 'inner', 'cross'}, default 'inner'
    Type of merge to be performed.

    * left: use only keys from left frame, similar to a SQL left outer join;
      preserve key order.
    * right: use only keys from right frame, similar to a SQL right outer join;
      preserve key order.
    * outer: use union of keys from both frames, similar to a SQL full outer
      join; sort keys lexicographically.
    * inner: use intersection of keys from both frames, similar to a SQL inner
      join; preserve the order of the left keys.
    * cross: creates the cartesian product from both frames, preserves the order
      of the left keys.

      .. versionadded:: 1.2.0

on : label or list
    Column or index level names to join on. These must be found in both
    DataFrames. If `on` is None and not merging on indexes then this defaults
    to the intersection of the columns in both DataFrames.
left_on : label or list, or array-like
    Column or index level names to join on in the left DataFrame. Can also
    be an array or list of arrays of the length of the left DataFrame.
    These arrays are treated as if they are columns.
right_on : label or list, or array-like
    Column or index level names to join on in the right DataFrame. Can also
    be an array or list of arrays of the length of the right DataFrame.
    These arrays are treated as if they are columns.
left_index : bool, default False
    Use the index from the left DataFrame as the join key(s). If it is a
    MultiIndex, the number of keys in the other DataFrame (either the index
    or a number of columns) must match the number of levels.
right_index : bool, default False
    Use the index from the right DataFrame as the join key. Same caveats as
    left_index.
sort : bool, default False
    Sort the join keys lexicographically in the result DataFrame. If False,
    the order of the join keys depends on the join type (how keyword).
suffixes : list-like, default is ("_x", "_y")
    A length-2 sequence where each element is optionally a string
    indicating the suffix to add to overlapping column names in
    `left` and `right` respectively. Pass a value of `None` instead
    of a string to indicate that the column name from `left` or
    `right` should be left as-is, with no suffix. At least one of the
    values must not be None.
copy : bool, default True
    If False, avoid copy if possible.
indicator : bool or str, default False
    If True, adds a column to the output DataFrame called "_merge" with
    information on the source of each row. The column can be given a different
    name by providing a string argument. The column will have a Categorical
    type with the value of "left_only" for observations whose merge key only
    appears in the left DataFrame, "right_only" for observations
    whose merge key only appears in the right DataFrame, and "both"
    if the observation's merge key is found in both DataFrames.

validate : str, optional
    If specified, checks if merge is of specified type.

    * "one_to_one" or "1:1": check if merge keys are unique in both
      left and right datasets.
    * "one_to_many" or "1:m": check if merge keys are unique in left
      dataset.
    * "many_to_one" or "m:1": check if merge keys are unique in right
      dataset.
    * "many_to_many" or "m:m": allowed, but does not result in checks.

Returns
-------
DataFrame
    A DataFrame of the two merged objects.

See Also
--------
merge_ordered : Merge with optional filling/interpolation.
merge_asof : Merge on nearest keys.
DataFrame.join : Similar method using indices.

Notes
-----
Support for specifying index levels as the `on`, `left_on`, and
`right_on` parameters was added in version 0.23.0
Support for merging named Series objects was added in version 0.24.0

Examples
--------
>>> df1 = pd.DataFrame({'lkey': ['foo', 'bar', 'baz', 'foo'],
...                     'value': [1, 2, 3, 5]})
>>> df2 = pd.DataFrame({'rkey': ['foo', 'bar', 'baz', 'foo'],
...                     'value': [5, 6, 7, 8]})
>>> df1
    lkey value
0   foo      1
1   bar      2
2   baz      3
3   foo      5
>>> df2
    rkey value
0   foo      5
1   bar      6
2   baz      7
3   foo      8

Merge df1 and df2 on the lkey and rkey columns. The value columns have
the default suffixes, _x and _y, appended.

>>> df1.merge(df2, left_on='lkey', right_on='rkey')
  lkey  value_x rkey  value_y
0  foo        1  foo        5
1  foo        1  foo        8
2  foo        5  foo        5
3  foo        5  foo        8
4  bar        2  bar        6
5  baz        3  baz        7

Merge DataFrames df1 and df2 with specified left and right suffixes
appended to any overlapping columns.

>>> df1.merge(df2, left_on='lkey', right_on='rkey',
...           suffixes=('_left', '_right'))
  lkey  value_left rkey  value_right
0  foo           1  foo            5
1  foo           1  foo            8
2  foo           5  foo            5
3  foo           5  foo            8
4  bar           2  bar            6
5  baz           3  baz            7

Merge DataFrames df1 and df2, but raise an exception if the DataFrames have
any overlapping columns.

>>> df1.merge(df2, left_on='lkey', right_on='rkey', suffixes=(False, False))
Traceback (most recent call last):
...
ValueError: columns overlap but no suffix specified:
    Index(['value'], dtype='object')

>>> df1 = pd.DataFrame({'a': ['foo', 'bar'], 'b': [1, 2]})
>>> df2 = pd.DataFrame({'a': ['foo', 'baz'], 'c': [3, 4]})
>>> df1
      a  b
0   foo  1
1   bar  2
>>> df2
      a  c
0   foo  3
1   baz  4

>>> df1.merge(df2, how='inner', on='a')
      a  b  c
0   foo  1  3

>>> df1.merge(df2, how='left', on='a')
      a  b  c
0   foo  1  3.0
1   bar  2  NaN

>>> df1 = pd.DataFrame({'left': ['foo', 'bar']})
>>> df2 = pd.DataFrame({'right': [7, 8]})
>>> df1
    left
0   foo
1   bar
>>> df2
    right
0   7
1   8

>>> df1.merge(df2, how='cross')
   left  right
0   foo      7
1   foo      8
2   bar      7
3   bar      8
File:      c:\users\murat\anaconda3\lib\site-packages\pandas\core\reshape\merge.py
Type:      function

In [113]:
dataset4.merge(mto1, left_on='lkey', right_on='rkey')

KeyError: 'rkey'