# İleri Toplulaştırma İşlemleri (Aggregate, Filter, Transform, Apply)

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame({
    'gruplar': ['A', 'B', 'C', 'A', 'B', 'C'],
    'degisken1': [10,23, 33, 22, 11, 99],
    'degisken2': [100, 253, 333, 262, 111, 969]
}, columns=['gruplar', 'degisken1', 'degisken2'])
df

  gruplar  degisken1  degisken2
0       A         10        100
1       B         23        253
2       C         33        333
3       A         22        262
4       B         11        111
5       C         99        969

In [3]:
# Aggregate